# Acquire New Data

Potential Limitations:
- a lot of manual data entry for healthcare preprocessing. While I was careful it's possible I made errors. I did not validate all entries for the sake of time, but I relied on copy/paste so I'm fairly confident in the accuracy.
- I didn't consider the impact of Covid on the 2020 data
- Assuming codes correspond to same things
- **adding the totals for each year is a bad idea since 2011 does not have all symptoms!!**

## Extension Plan Motivation and Focus:

The following paragraphs are pulled directly from the 'Part 2 Extension Plan.pdf' file I previously wrote:

The objective for my project extension is to dig deeper into the wildfire smoke analysis I did in Part 1 regarding Richland, Washington. I want to study how the smoke from these wildfires may impact the health of the residents of Richland, WA. This is an important topic for the city leaders to consider, as the findings, if valid, would guide their decision-making in how to allocate funds to promote the well-being of their citizens. For example, if the rate of hospitalization for respiratory illnesses is increasing, perhaps more hospital staff, beds, etc. should be provided. Additionally, the people of Richland could be very interested in learning how wildfires might impact their health in future years. Thus, there is a societal benefit to studying this topic further.

More specifically, for my extended analysis, I wish to answer the question “How will wildfire smoke impact the number of hospitalizations for respiratory issues in Richland, WA in the coming years?” To answer this question, I plan on acquiring population data and healthcare data to supplement the wildfire data I gathered in Part 1. Then, I will find the correlation between the smoke and hospitalizations in the county that Richland is located in. I will also use a simple model (probably a regression model) to predict future hospitalization rates for the future years. Lastly, I will document my findings, visualize the results, and provide a discussion on some of the dominant limitations and assumptions of my analysis.

**Author: Logan O'Brien**

In [1]:
#imports
import pandas as pd

## Step 1: Retrieve Population Data

The first data I want to gather for the Project Part 2 extended analysis is U.S. Census [1] population data. The first thing to consider before retrieving this data is what years do we need? Since I plan on building a model that incorporates, among other things, population, hospitalization rate, and smoke estimate (via AQI measurements), the longevity of the data will be reduced to the common denominator of the dataset with the smallest range of data. Well, I know from my exploration when writing my extension plan document and from my work in Project Part 1, that the healthcare data I will get later appears to be the limting factor and only provides data from 2011 to 2020 (with at least one year in that range missing as well). Thus, I will gather population estimates from around 2010 through 2020.

The U.S. Census website provides a dataset for county population estimates for 2010 - 2019 here: https://www.census.gov/data/datasets/time-series/demo/popest/2010s-counties-total.html [2] and for 2020 - 2022 here: https://www.census.gov/data/tables/time-series/demo/popest/2020s-counties-total.html [3]. The U.S. Census data is publicaly available and I called to confirm that I could use their data as long as I cite it.

Let's load and merge the data into a single dataset

In [2]:
# load the county population estimate data for Washington for 2010 - 2019
df_2010_19 = pd.read_excel('https://www2.census.gov/programs-surveys/popest/tables/2010-2019/counties/totals/co-est2019-annres-53.xlsx')

# load the county population estimate data for Washington for 2020 - 2022
df_2020_22 = pd.read_excel('https://www2.census.gov/programs-surveys/popest/tables/2020-2022/counties/totals/co-est2022-pop-53.xlsx')

In [3]:
df_2010_19

,table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,2010-04-01 00:00:00,NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
3,Washington,6724540,6724540,6742830,6826627.0,6897058.0,6963985.0,7054655.0,7163657.0,7294771.0,7423362.0,7523869.0,7614893.0
4,".Adams County, Washington",18728,18731,18790,18877.0,18944.0,19098.0,19177.0,19233.0,19369.0,19651.0,19736.0,19983.0
5,".Asotin County, Washington",21623,21623,21725,21971.0,21909.0,22129.0,22190.0,22113.0,22286.0,22509.0,22616.0,22582.0
6,".Benton County, Washington",175177,175168,176465,180436.0,182373.0,184318.0,186489.0,190218.0,193494.0,198200.0,201286.0,204390.0
7,".Chelan County, Washington",72453,72460,72750,73214.0,73472.0,73723.0,74121.0,75041.0,75855.0,76298.0,76752.0,77200.0
8,".Clallam County, Washington",71404,71396,71503,71762.0,71766.0,72046.0,72467.0,73202.0,74240.0,75637.0,76551.0,77331.0
9,".Clark County, Washington",425363,425360,426704,432283.0,436361.0,441341.0,448202.0,456939.0,465272.0,474381.0,481427.0,488241.0
10,".Columbia County, Washington",4078,4078,4094,4005.0,3977.0,4002.0,3985.0,3960.0,3975.0,4002.0,4039.0,3985.0
11,".Cowlitz County, Washington",102410,102408,102358,102309.0,101663.0,101483.0,101790.0,102999.0,104740.0,106805.0,108752.0,110593.0
12,".Douglas County, Washington",38431,38427,38514,38662.0,39197.0,39387.0,39773.0,40545.0,41366.0,42027.0,42749.0,43429.0
13,".Ferry County, Washington",7551,7554,7545,7639.0,7663.0,7594.0,7592.0,7520.0,7531.0,7576.0,7638.0,7627.0
14,".Franklin County, Washington",78163,78160,79077,83051.0,85698.0,86448.0,87665.0,88727.0,90199.0,91896.0,94003.0,95222.0
15,".Garfield County, Washington",2266,2266,2261,2237.0,2209.0,2237.0,2201.0,2222.0,2246.0,2215.0,2240.0,2225.0
16,".Grant County, Washington",89120,89124,89558,90594.0,91300.0,91701.0,92897.0,93527.0,94221.0,95357.0,96672.0,97733.0
17,".Grays Harbor County, Washington",72797,72800,72848,72366.0,71773.0,71046.0,70780.0,71011.0,71531.0,72490.0,73801.0,75061.0
18,".Island County, Washington",78506,78508,78693,78941.0,79039.0,78198.0,78690.0,80022.0,81692.0,83250.0,84227.0,85141.0
19,".Jefferson County, Washington",29872,29880,29899,29853.0,29800.0,30004.0,30147.0,30339.0,30910.0,31210.0,31746.0,32221.0
20,".King County, Washington",1931249,1931287,1938351,1974200.0,2011197.0,2047223.0,2085225.0,2126178.0,2166350.0,2203836.0,2228364.0,2252782.0
21,".Kitsap County, Washington",251133,251143,251681,254297.0,254339.0,252401.0,253387.0,259232.0,263142.0,266289.0,269276.0,271473.0
22,".Kittitas County, Washington",40915,40910,40990,41554.0,41624.0,41828.0,42596.0,43095.0,44922.0,46176.0,47358.0,47935.0
23,".Klickitat County, Washington",20318,20317,20376,20689.0,20638.0,20871.0,20863.0,21005.0,21286.0,21751.0,22136.0,22425.0
24,".Lewis County, Washington",75455,75457,75502,75668.0,75435.0,74962.0,74844.0,75437.0,76693.0,78320.0,79569.0,80707.0
25,".Lincoln County, Washington",10570,10570,10573,10526.0,10429.0,10295.0,10224.0,10285.0,10335.0,10585.0,10726.0,10939.0
26,".Mason County, Washington",60699,60689,60733,60870.0,60681.0,60474.0,60604.0,60991.0,62142.0,63740.0,65380.0,66768.0
27,".Okanogan County, Washington",41120,41117,41229,41334.0,41183.0,41053.0,41236.0,41356.0,41579.0,41915.0,42117.0,42243.0
28,".Pacific County, Washington",20920,20919,20879,20884.0,20582.0,20442.0,20564.0,20869.0,21285.0,21742.0,22074.0,22471.0
29,".Pend Oreille County, Washington",13001,13001,12950,12954.0,13003.0,12885.0,12919.0,13087.0,13131.0,13358.0,13586.0,13724.0
30,".Pierce County, Washington",795225,795222,795390,807623.0,815535.0,821012.0,832696.0,843778.0,862895.0,879654.0,893756.0,904980.0
31,".San Juan County, Washington",15769,15768,15783,15845.0,15848.0,15909.0,16009.0,16198.0,16309.0,16729.0,17124.0,17582.0
32,".Skagit County, Washington",116901,116892,116944,117578.0,117714.0,118255.0,119966.0,121559.0,123603.0,125860.0,127835.0,129205.0
33,".Skamania County, Washington",11066,11070,11116,11154.0,11200.0,11308.0,11377.0,11375.0,11581.0,11809.0,11919.0,12083.0
34,".Snohomish County, Washington",713335,713299,715500,722068.0,732097.0,744112.0,757239.0,769698.0,787110.0,802089.0,813059.0,822083.0
35,".Spokane County, Washington",471221,471220,472081,473436.0,475447.0,478332.0,482857.0,488610.0,496889.0,505623.0,513603.0,522798.0
36,".Stevens County, Washington",43531,43532,43472,43453.0,43483.0,43271.0,43479.0,43553.0,44141.0,44636.0,45224.0,45723.0
37,".Thurston County, Washington",252264,252260,253001,256386.0,258527.0,261852.0,264909.0,267978.0,273714.0,280269.0,286056.0,290536.0
38,".Wahkiakum County, Washington",3978,3979,3983,3992.0,4000.0,4034.0,4043.0,4023.0,4161.0,4251.0,4415.0,4488.0
39,".Walla Walla County, Washington",58781,58781,58915,59444.0,59329.0,59361.0,59510.0,59932.0,60008.0,60512.0,60615.0,60760.0
40,".Whatcom County, Washington",201140,201146,201545,203490.0,204863.0,206073.0,208154.0,211836.0,216417.0,221410.0,225197.0,229247.0
41,".Whitman County, Washington",44776,44778,44796,45056.0,46633.0,46792.0,46918.0,48164.0,48824.0,49382.0,49683.0,50104.0
42,".Yakima County, Washington",243231,243240,244256,245926.0,246127.0,246485.0,246870.0,247800.0,249327.0,249922.0,250562.0,250873.0
43,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This dataframe is messy because the data comes from a table with several rows of merged cells and headers. We only need the data for Benton County. Let's start by getting the column headers.

In [4]:
cols = list(df_2010_19.iloc[2, 3:])
cols

[2010, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0]

Note that the values above are of mixed type. Let's fix this.

In [5]:
# convert numbers to integers to drop decimals
# Source: I learned how to do list comprehensions from:
# https://www.geeksforgeeks.org/python-program-to-convert-list-of-integer-to-list-of-string/#
years_ints = [int(x) for x in cols]

# convert elements to string
years_str = [str(elt) for elt in years_ints]
years_str

['2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

Now, we can finish extracting the Benton County data for 2010 - 2019.

In [6]:
# extract the data we need
data = list(df_2010_19.iloc[6, 3:])

# I referenced this video to learn that I need to put the data variable below in brackets:
# Source: https://www.youtube.com/watch?v=Nuf8edUbgC8
df_Benton_2010_19 = pd.DataFrame([data], columns=years_str)
df_Benton_2010_19

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,176465,180436.0,182373.0,184318.0,186489.0,190218.0,193494.0,198200.0,201286.0,204390.0

Now, let's similarly retrieve the Benton County data from the 2020 - 2022 dataset we loaded previously.

In [7]:
df_2020_22

,table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN
1,Geographic Area,"April 1, 2020 Estimates Base",Population Estimate (as of July 1),NaN,NaN
2,NaN,NaN,2020,2021.0,2022.0
3,Washington,7705247,7724031,7740745.0,7785786.0
4,".Adams County, Washington",20612,20608,20640.0,20961.0
5,".Asotin County, Washington",22288,22325,22468.0,22508.0
6,".Benton County, Washington",206875,207413,210585.0,212791.0
7,".Chelan County, Washington",79078,79228,79775.0,79926.0
8,".Clallam County, Washington",77160,77357,78442.0,77805.0
9,".Clark County, Washington",503309,505301,512588.0,516779.0
10,".Columbia County, Washington",3952,3949,4015.0,4026.0
11,".Cowlitz County, Washington",110740,111019,111648.0,111956.0
12,".Douglas County, Washington",42937,43031,43838.0,44192.0
13,".Ferry County, Washington",7178,7196,7267.0,7448.0
14,".Franklin County, Washington",96746,97143,98126.0,98678.0
15,".Garfield County, Washington",2288,2298,2354.0,2363.0
16,".Grant County, Washington",99120,99427,100440.0,101311.0
17,".Grays Harbor County, Washington",75636,75855,76787.0,77038.0
18,".Island County, Washington",86847,86990,87557.0,86625.0
19,".Jefferson County, Washington",32975,33063,33561.0,33589.0
20,".King County, Washington",2269667,2274094,2253038.0,2266789.0
21,".Kitsap County, Washington",275605,275802,276591.0,277673.0
22,".Kittitas County, Washington",44342,44626,44688.0,45189.0
23,".Klickitat County, Washington",22734,22816,23178.0,23271.0
24,".Lewis County, Washington",82152,82556,84575.0,85370.0
25,".Lincoln County, Washington",10879,10927,11277.0,11601.0
26,".Mason County, Washington",65722,66029,67229.0,68166.0
27,".Okanogan County, Washington",42098,42146,42741.0,43127.0
28,".Pacific County, Washington",23365,23491,23971.0,24113.0
29,".Pend Oreille County, Washington",13404,13506,13906.0,14179.0
30,".Pierce County, Washington",921137,923524,927199.0,927380.0
31,".San Juan County, Washington",17789,17827,18615.0,18662.0
32,".Skagit County, Washington",129515,129884,130933.0,131179.0
33,".Skamania County, Washington",12033,12033,12207.0,12460.0
34,".Snohomish County, Washington",827947,829869,836037.0,840079.0
35,".Spokane County, Washington",539332,541125,545498.0,549690.0
36,".Stevens County, Washington",46450,46587,47553.0,48229.0
37,".Thurston County, Washington",294797,295988,298078.0,298758.0
38,".Wahkiakum County, Washington",4419,4443,4579.0,4688.0
39,".Walla Walla County, Washington",62586,62619,62158.0,61890.0
40,".Whatcom County, Washington",226843,227430,226718.0,230677.0
41,".Whitman County, Washington",47971,47804,43238.0,47619.0
42,".Yakima County, Washington",256719,256702,256647.0,257001.0
43,Note: The estimates are developed from a base ...,NaN,NaN,NaN,NaN
44,Suggested Citation:,NaN,NaN,NaN,NaN
45,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN
46,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN
47,Release Date: March 2023,NaN,NaN,NaN,NaN

Once again, we must extract and reformat some of the data using the same process we did for the other file.

In [8]:
cols = list(df_2020_22.iloc[2, 2:])
cols

# convert numbers to integers to drop decimals
# Source: I learned how to do list comprehensions from:
# https://www.geeksforgeeks.org/python-program-to-convert-list-of-integer-to-list-of-string/#
years_ints = [int(x) for x in cols]

# convert elements to string
years_str = [str(elt) for elt in years_ints]

# extract the data we need
data = list(df_2020_22.iloc[6, 2:])

# I referenced this video to learn that I need to put the data variable below in brackets:
# Source: https://www.youtube.com/watch?v=Nuf8edUbgC8
df_Benton_2020_22 = pd.DataFrame([data], columns=years_str)
df_Benton_2020_22

     2020      2021      2022
0  207413  210585.0  212791.0

Now, let's merge the two dataframes into a single dataframe containing population estimates for 2010 - 2022.

In [9]:
# I consulted this source to learn how to add two dataframes together horizantally
# Source: https://stackoverflow.com/questions/44723377/pandas-combining-two-dataframes-horizontally
df_Benton_pop_est = pd.concat([df_Benton_2010_19, df_Benton_2020_22], axis=1)

df_Benton_pop_est

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,176465,180436.0,182373.0,184318.0,186489.0,190218.0,193494.0,198200.0,201286.0,204390.0,207413,210585.0,212791.0

Now, let's transpose this dataframe

In [10]:
# I referenced: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html
df_Benton_pop_est = df_Benton_pop_est.transpose()

df_Benton_pop_est

             0
2010  176465.0
2011  180436.0
2012  182373.0
2013  184318.0
2014  186489.0
2015  190218.0
2016  193494.0
2017  198200.0
2018  201286.0
2019  204390.0
2020  207413.0
2021  210585.0
2022  212791.0

We need to tidy up this dataframe a bit

In [11]:
# I referenced the link below to learn one way to save my index column as another column
# https://stackoverflow.com/questions/36932759/pandas-adding-new-column-to-dataframe-which-is-a-copy-of-the-index-column
# note that another way of saving the index column is to set the drop argument to False in the
# reset_index() function
df_Benton_pop_est['Year'] = df_Benton_pop_est.index

# tidy up the dataframe
df_Benton_pop_est = df_Benton_pop_est.reset_index(drop=True)

# reorder the columns
# I referecenced: https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns
df_Benton_pop_est = df_Benton_pop_est[['Year', 0]]

# rename a column
# I referenced: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html
df_Benton_pop_est = df_Benton_pop_est.rename(columns={0: 'Population Estimate'})
df_Benton_pop_est

    Year  Population Estimate
0   2010             176465.0
1   2011             180436.0
2   2012             182373.0
3   2013             184318.0
4   2014             186489.0
5   2015             190218.0
6   2016             193494.0
7   2017             198200.0
8   2018             201286.0
9   2019             204390.0
10  2020             207413.0
11  2021             210585.0
12  2022             212791.0

Now, we can save the results

In [12]:
#save as a file
df_Benton_pop_est.to_csv('data/Benton_Population_Estimates.csv', index=False)

## Step 2: Retrieve Healthcare Data

After gathering the population data, we now move on to gleaning the healthcare data that we wish to use. For this, we are going to use a data analysis and visualization tool provided by the Agency for Healthcare Research and Quality (AHRQ) [4] to export the data we need. This tool is part of a project called the Healthcare Cost and Utilization Project (HCUP) [5]. Note, in order to use this tool, users are required to accept the terms of use, which in essence stipulate that the user must make no efforts to identify individuals or establishments in the data.

The data we will download from the tool [5] comes from the "Community Inpatient Statistics" tab [6] which allows us to download the number of discharges per county for a selected state, time period, and year. Additionally, by clicking the "Diagnoses & Conditions" subtab, we can further filter by a specific diagnosis. Before pulling any data, we must first determine which diagnoses we want data for. 

In my survey of some of the current literature on the health impacts of wildfire smoke, in preperation for drafting my Part 2 extension plan, I noticed that the authors studied multiple diagnoses, and some of them appeared in multiple articles (e.g. pnumonia) [7-9]. Several respiratory issues considered in these articles include: pneumonia, chronic obstructive pulmonary disease, pneumonitis due to solids/liquids, asthma, bronchitis, wheezing, and respiratory tract infections, [7-9].

According to HCUPnet, data is missing in 2015 because of a transition from "ICD-9-CM to ICD-10-CM /PCS in October 2015" [6]. 

What HCUP provides:
Batch 1 (CCSR): 2016-2020
- RSP002: Pneumonia (2016, 2017, 2018, 2019, 2020)
- RSP005: Acute bronchitis (2016, 2017, 2018, 2019, 2020)
- RSP008: COPD and bronchiectasis (2016, 2017, 2018, 2019, 2020)
- RSP009: Asthma (2016, 2017, 2018, 2019, 2020)
- RSP010: Aspiration pneumonitis (2016, 2017, 2018, 2019, 2020)

Batch 2 (CCS): 2011-2014
- 122: Pneumonia (2011, 2012, 2013, 2014)
- 125: Acute bronchitis (2012, 2013, 2014)
- 127: COPD and bronchiectasis (2011, 2012, 2013, 2014) 
- 128: Asthma (2011, 2012, 2013, 2014, 
- 129: aspiration pneumonitis; food/vomitus (2012, 2013, 2014)
**no data in 2011 for 125 or 129; also that all 5 are equivalent between the two code conventions**

**assume that RSP010 and CCS 129 are equivalent and ignore food part**

Note, here is relevant fine print for the HCUPnet tool [6]:
- "**Source:** Community-Level Statistics (CLS) are from the Agency for Healthcare Research and Quality (AHRQ), Healthcare Cost and Utilization Project (HCUP), State Inpatient Databases (SID), based on data collected by individual States and provided to AHRQ by State Partners. Weighted national estimates are from the HCUP National (Nationwide) Inpatient Sample (NIS)." [6]
- "Costs are in current, nominal dollars (not adjsuted for inflation)" [6].
- "Community-Level Statistics are based on the patient residence State, not the hospital State" [6].
- "For more information about HCUP data see http://hcup-us.ahrq.gov/" [6].

Having identified which discharge diagnoses we want to examine, one by one we download the  data for each of these conditions from the tool [5]. Next, we merge them together so that there is one file for each condition (for all years). Then we load them into this notebook for further processing.

Note, the tool points out that some cells in the data exports are missing data intentionally (marked with an '*'), for various reasons including to reduce the change of identifying establishments or patients, or due to risk of low accurracy [5],

In [13]:
# load the files
df_Pneumonia = pd.read_csv('data/Grouped by Condition/HCUPnet_Pneumonia_Merged.csv')
df_AcuteBronchitis = pd.read_csv('data/Grouped by Condition/HCUPnet_AcuteBronchitis_Merged.csv')
df_COPDandBronchiectasis = pd.read_csv('data/Grouped by Condition/HCUPnet_COPDandBronchiectasis_Merged.csv')
df_Ashma = pd.read_csv('data/Grouped by Condition/HCUPnet_Asthma_Merged.csv')
df_AspirationPneumonitis = pd.read_csv('data/Grouped by Condition/HCUPnet_AspirationPneumonitis_Merged.csv')

In [14]:
df_AspirationPneumonitis.head()

,Year,County,FIPS code,Patient Characteristic,Number of Discharges,Average Length of Stay (in days),"Rate of Discharges Per 100,000 Population","Age-Sex Adjusted Rate of Discharges per 100,000 Population",Aggregate Hospital Costs (in $),Average Hospital Costs per Stay (in $)
0,2012,US Total,NaN,Overall,171745,6.9,54.9,*,2333707462,13588
1,2012,State Total,53.0,Overall,3307,5.6,48.2,51.8,44466045,13446
2,2012,Benton,53005.0,Overall,74,5.1,41.0,45.1,925674,12509
3,2013,US Total,NaN,Overall,166460,6.8,52.9,*,2284032688,13721
4,2013,State Total,53.0,Overall,3271,5.6,47.0,48.3,41983956,12835

Note, for simplicity, I am assuming the patients in each group are independant (e.g. that someone is not diagnosed with multiple)

Now, we need to add up the number of people discharged for all conditions in Benton county.

In [15]:
# filter to just Benton County
df_Pneumonia_Benton = df_Pneumonia[df_Pneumonia['County']=='Benton']
df_AcuteBronchitis_Benton = df_AcuteBronchitis[df_AcuteBronchitis['County']=='Benton']
df_COPDandBronchiectasis_Benton = df_COPDandBronchiectasis[df_COPDandBronchiectasis['County']=='Benton']
df_Ashma_Benton = df_Ashma[df_Ashma['County']=='Benton']
df_AspirationPneumonitis = df_AspirationPneumonitis[df_AspirationPneumonitis['County']=='Benton']

# combine the files into a single dataframe
# I referenced: https://www.geeksforgeeks.org/python-pandas-dataframe-append/# 
# and https://pandas.pydata.org/pandas-docs/version/1.4/reference/api/pandas.DataFrame.append.html
# and https://stackoverflow.com/questions/15819050/pandas-dataframe-concat-vs-append
# to learn how to add dataframes together
df_Benton_hc_discharges = df_Pneumonia_Benton.copy()
df_Benton_hc_discharges = df_Benton_hc_discharges.append(df_AcuteBronchitis_Benton, ignore_index=True)
df_Benton_hc_discharges = df_Benton_hc_discharges.append(df_COPDandBronchiectasis_Benton, ignore_index=True)
df_Benton_hc_discharges = df_Benton_hc_discharges.append(df_Ashma_Benton, ignore_index=True)
df_Benton_hc_discharges = df_Benton_hc_discharges.append(df_AspirationPneumonitis, ignore_index=True)

# for this analysis I only need the year and number of discharges
df_Benton_only_discharges = df_Benton_hc_discharges[['Year', 'Number of Discharges']]
df_Benton_only_discharges

# group by year to organize the dataframe and aggregate the data

# note: I referenced several group by statements from my work in Project Part 1 [10] to remind myself how I approached this
# previously. 
# I also referenced: https://pandas.pydata.org/docs/reference/api/pandas.NamedAgg.html 
# and https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html
# I am not sure how the pd.NamedAgg() function works or how it works with the .agg function to rename the column,
# but it appears to be producing the desired results
df_Benton_total_annual_discharges = df_Benton_hc_discharges.groupby('Year', as_index=False).agg(
                                        Total_Discharges = pd.NamedAgg(column='Number of Discharges', aggfunc='sum'))



df_Benton_total_annual_discharges

/tmp/ipykernel_2398/3600514737.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_Benton_hc_discharges = df_Benton_hc_discharges.append(df_AcuteBronchitis_Benton, ignore_index=True)
/tmp/ipykernel_2398/3600514737.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_Benton_hc_discharges = df_Benton_hc_discharges.append(df_COPDandBronchiectasis_Benton, ignore_index=True)
/tmp/ipykernel_2398/3600514737.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_Benton_hc_discharges = df_Benton_hc_discharges.append(df_Ashma_Benton, ignore_index=True)
/tmp/ipykernel_2398/3600514737.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_Benton_hc_discharges = df_Benton_hc_discharges.append(df_AspirationPneumonitis, ignore_index=True)

   Year  Total_Discharges
0  2011               895
1  2012               895
2  2013               821
3  2014               891
4  2016               819
5  2017               935
6  2018               752
7  2019               843
8  2020               566

Note, because not all discharge conditions types I am using have data for 2011, I will drop that data point.

In [16]:
# drop 2011
# I referenced: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html
# and https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html
df_Benton_total_annual_discharges = df_Benton_total_annual_discharges.drop(axis=0, index=0).reset_index(drop=True)

# save the result to a file
df_Benton_total_annual_discharges.to_csv('data/Annual_Discharges.csv', index=False)

df_Benton_total_annual_discharges

   Year  Total_Discharges
0  2012               895
1  2013               821
2  2014               891
3  2016               819
4  2017               935
5  2018               752
6  2019               843
7  2020               566

## Lessons Learned:

- Initially when merging all diagnoses into a single file, I was thinking about approaching it like this:
- for each year
    - for each dataset
        - store value in proper column
        
But then you have the challene of determining how to deal with the year since it is not consistent in each file. But then I realized I could just append the rows since they have same columns and then group by year.

## References:
- [1]. https://www.census.gov/
- [2]. Annual Estimates of the Resident Population for Counties in Washington: April 1, 2010 to July 1, 2019 (CO-EST2019-ANNRES-53). Source: U.S. Census Bureau, Population Division. Release Date: March 2020.
- [3]. Annual Estimates of the Resident Population for Counties in Washington: April 1, 2020 to July 1, 2022 (CO-EST2022-POP-53). Source: U.S. Census Bureau, Population Division. Release Date: March 2023. 
- [4]. https://www.ahrq.gov/
- [5]. HCUPnet, Healthcare Cost and Utilization Project. Agency for Healthcare Research and Quality, Rockville, MD. https://datatools.ahrq.gov/hcupnet.
- [6]. Community Inpatient Statistics Dashboard. https://datatools.ahrq.gov/hcupnet?tab=community-inpatient-statistics&dash=52.
- [7]. DeFlorio-Barker S, Crooks J, Reyes J, Rappold AG. Cardiopulmonary effects of fine particulate matter exposure among older adults, during wildfire and non-wildfire periods, in the United States 2008-2010. Environ Health Perspect 2019;127(3):37006. doi: 10.1289/ehp3860.
- [8]. Liu JC, Wilson A, Mickley LJ, Dominici F, Ebisu K, Wang Y, et al.. 2017. Wildfire-specific fine particulate matter and risk of hospital admissions in urban and rural counties. Epidemiology 28(1):77–85, PMID: 27648592, 10.1097/EDE.0000000000000556. [PMC free article] [PubMed] [CrossRef] [Google Scholar]
- [9]. Rappold AG, Stone SL, Cascio WE, Neas LM, Kilaru VJ, Carraway MS, et al.. 2011. Peat bog wildfire smoke exposure in rural North Carolina is associated with cardiopulmonary emergency department visits assessed through syndromic surveillance. Environ Health Perspect 119(10):1415–1420, PMID: 21705297, 10.1289/ehp.1003206. [PMC free article] [PubMed] [CrossRef] [Google Scholar]
- [10]. https://github.com/logan-obrien/data-512-course-project/blob/main/Project%20Part%201%20-%20Common%20Analysis-s3-Comparison-and-Visualization.ipynb